.image-wrapper {
  min-height: 200px;
  /* width: 100%;
  object-fit: cover; */
}

.image-wrapper-table {
  height: 40px;
}

.image-wrapper-mini-from-map {
  height: 130px;
}

.image-constrained {
  width: 100% !important;
  object-fit: cover;
  height: 100%;
}

.image-constrained.image-table {
  object-fit: contain;
}

.image-constrained.image-card-mini {
  max-height: 200px;
}

.image-constrained.mage-card-mini.image-card-mini-from-map {
  object-fit: contain;
}

.image-constrained.image-card-detail {
  max-height: 300px;
  object-fit: contain;
}

.datami-card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.datami-card-content {
  height: 100%;
}

.datami-card-detail-padding {
  padding: 3em;
}
