/* .is-active {
  background-color: #000000 !important;
} */
.branch-input {
  width: 30em;
  z-index: 55;
}

.token-input {
  min-width: 30em;
  z-index: 50;
}

.ButtonEditFile>.field>.field-body {
  -webkit-box-flex: 1 !important;
  -ms-flex-positive: 1 !important;
  flex-grow: 1 !important;
}

@media screen and (max-width:1023px) {
  .ButtonEditFile.edition-mode {
    margin-left: 25%;
  }
}

@media screen and (max-width:1023px) and (min-width:768px) {
  .datami-user-options-container {
    margin-left: 25% !important;
    width: 50% !important;
  }
}
