.PagesNavigation.datami-darkmode>div>nav>ul.pagination-list>li>a {
  color: white !important;
  border: 1px solid white !important;
}

.pagination-link.is-current {
  background-color: #363636;
  border-color: #363636;
}
