.b-numberinput.field.has-addons > .control {
  margin-bottom: 0!important;
}
.gt-node-label {
  background-color: #f5f5f5;
  color: #da1039;
  font-size: .875em;
  font-weight: 400;
  padding: 0.25em 0.5em 0.25em;
  font-family: monospace;
}