.CustomFilterDropdown.dark-background > .navbar-link {
  color: white !important;
  background-color: #2d2d30 !important;
  border: 1px solid white !important;
}
.CustomFilterDropdown.dark-background > .navbar-link:hover {
  background-color: black !important;
}

.CustomFilterDropdown > .navbar-dropdown {
  max-height: 275px;
  overflow: auto;
  padding-bottom: 1.5em;
}

.CustomFilterDropdown.clear-background > .navbar-dropdown {
  background-color: white !important;
  /* shadow while scroll solution : https://stackoverflow.com/questions/44793453/how-do-i-add-a-top-and-bottom-shadow-while-scrolling-but-only-when-needed */
  background:
    /* Shadow covers */
    linear-gradient(white 30%, rgba(0, 0, 0, 0)),
    linear-gradient(rgba(0, 0, 0, 0), white 70%) 0 100%,
    /* Shadows */
    linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .2)),
    linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)) 0 100%;

  background:
    /* Shadow covers */
    linear-gradient(white 30%, rgba(0, 0, 0, 0)),
    linear-gradient(rgba(0, 0, 0, 0), white 70%) 0 100%,
    /* Shadows */
    linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .2)) 0 100%,
    linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, 0));
  background-repeat: no-repeat;
  /* background-color: white; */
  background-size: 100% 40px, 100% 40px, 100% 30px, 100% 30px;
  /* Opera doesn't support this in the shorthand */
  background-attachment: local, local, scroll, scroll;
}
.CustomFilterDropdown.dark-background > .navbar-dropdown {
  background-color: black !important;
  background:
    /* Shadow covers */
    linear-gradient(black 30%, rgba(0, 0, 0, 0)),
    linear-gradient(rgba(0, 0, 0, 0), black 70%) 0 100%,
    /* Shadows */
    linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .2)),
    linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)) 0 100%;

  background:
    /* Shadow covers */
    linear-gradient(black 30%, rgba(0, 0, 0, 0)),
    linear-gradient(rgba(0, 0, 0, 0), black 70%) 0 100%,
    /* Shadows */
    linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .2)) 0 100%,
    linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, 0));
  background-repeat: no-repeat;
  /* background-color: white; */
  background-size: 100% 40px, 100% 40px, 100% 30px, 100% 30px;
  /* Opera doesn't support this in the shorthand */
  background-attachment: local, local, scroll, scroll;
}
.CustomFilterDropdown.dark-background > .navbar-dropdown > .navbar-item {
  color: white !important;
}
.CustomFilterDropdown.dark-background > .navbar-dropdown > a.navbar-item:hover {
  color: black !important;
}
.CustomFilterDropdown.dark-background > .navbar-dropdown > .navbar-item > a:hover {
  color: black !important;
}

.CustomFilterDropdown > .navbar-link {
  padding-top: 0;
  padding-bottom: 0;
  background-color: white !important;
}
.CustomFilterDropdown > .navbar-link:hover {
  background-color: #f2f2f2 !important;
}