.dropdown-tag-wrapper {
  display: block;
  flex-direction: column;
}

.dropdown-tag-menu,
.dropdown-tags-menu {
  position: relative;
  z-index: 1;
}

.dropdown-tags {
  display: block;
}

.dropdown-tags>.dropdown-menu {
  z-index: 1 !important;
  position: relative;
  /* background-color: #2f2f2f !important; */
}

.dropdown-item>.field>.help,
.dropdown-content>.field>.help {
  text-align: left;
  font-size: .6em;
  font-style: italic;
  color: #b5b5b5;
  margin-bottom: .3em;
}

.is-tag-active {
  background-color: #2f2f2f !important;
  color: white !important;
}

.dropdown-tags-menu>.dropdown-content {
  max-height: 275px;
  overflow: auto;

  /* shadow while scroll solution : https://stackoverflow.com/questions/44793453/how-do-i-add-a-top-and-bottom-shadow-while-scrolling-but-only-when-needed */
  background:
    /* Shadow covers */
    linear-gradient(white 30%, rgba(0, 0, 0, 0)),
    linear-gradient(rgba(0, 0, 0, 0), white 70%) 0 100%,
    /* Shadows */
    linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .2)),
    linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)) 0 100%;

  background:
    /* Shadow covers */
    linear-gradient(white 30%, rgba(0, 0, 0, 0)),
    linear-gradient(rgba(0, 0, 0, 0), white 70%) 0 100%,
    /* Shadows */
    linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .2)) 0 100%,
    linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, 0));

  background-repeat: no-repeat;
  background-color: white;
  background-size: 100% 40px, 100% 40px, 100% 30px, 100% 30px;
  /* Opera doesn't support this in the shorthand */
  background-attachment: local, local, scroll, scroll;
}

.add-input-btn-disabled {
  border-color: #dbdbdb !important;
}
