.apexcharts-legend-text {
  background-color: white !important;
  padding: 1% !important;
}

.datami-dataviz-darkmode .apexcharts-tooltip {
  color: black !important;
}

.dataviz-scroll {
  overflow-y: auto;
  height: 100%;
}
